/__pycache__
/.ipynb_checkpoints
/.vscode
/プログラミング基礎演習レポート2020_平岡拓海.docx
/プレゼンテーション2.pdf
/プレゼンテーションx3.pdf
/J5190239.zip
/aisatsu1.png
/aisatsu2.png
/data1.txt
/data2.txt
/image1.png
/image2.png
/music1.wav
/music2.wav
/out_aisatsu1.png
/out_aisatsu2.png
/out_img_1.png
/out_img_2.png
/out_music_1.png
/out_music_2.png
/out_music_1.wav
/out_music_2.wav
/out_speech_1.wav
/out_speech_2.wav
/speechA1.wav
/speechA2.wav
/speechB1.wav
/speechB2.wav
/speechB3.wav